<p id="notice"><%= notice %></p>

<p>
  <strong>Id statics:</strong>
  <%= @static.id_statics %>
</p>

<p>
  <strong>Id menu:</strong>
  <%= @static.id_menu %>
</p>

<p>
  <strong>Count menu:</strong>
  <%= @static.count_menu %>
</p>

<p>
  <strong>Score menu:</strong>
  <%= @static.score_menu %>
</p>

<%= link_to 'Edit', edit_static_path(@static) %> |
<%= link_to 'Back', statics_path %>
